@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #ffffff;
  --background-start-rgb: #ffffff;
  --background-end-rgb: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #ffffff;
    --background-start-rgb: #ffffff;
    --background-end-rgb: #ffffff;
  }
}

@layer base {
  @font-face {
    font-family: BricolageGrotesqueLight;
    src: url("/fonts/BricolageGrotesque-Light.ttf");
  }
  @font-face {
    font-family: BricolageGrotesqueMedium;
    src: url("/fonts/BricolageGrotesque-Medium.ttf");
  }
  @font-face {
    font-family: BricolageGrotesqueRegular;
    src: url("/fonts/BricolageGrotesque-Regular.ttf");
  }
  @font-face {
    font-family: BricolageGrotesqueSemiBold;
    src: url("/fonts/BricolageGrotesque-SemiBold.ttf");
  }
  @font-face {
    font-family: BricolageGrotesqueBold;
    src: url("/fonts/BricolageGrotesque-Bold-BF648bd57888479.ttf");
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.button-styles {
  border-radius: 20px !important;
  box-shadow: none !important;
  outline: none !important;
  font-family: BricolageGrotesqueMedium !important;
  font-size: 16px;
  font-weight: 500;
  width: 120px;
}
.sign-up {
  background: #e20000;
  color: #ffffff;
}

.sign-up:hover,
.sign-up:focus,
.sign-up:active {
  color: #ffffff !important;
  background: #e20000 !important;
  outline: #e20000 !important;
  box-shadow: none !important;
  border: 0.5px solid #e20000 !important;
}

.sign-in {
  border: 1px solid #000000 !important;
}

.sign-in:hover,
.sign-in:focus,
.sign-in:active {
  color: #000000 !important;
  border: 1px solid #000000 !important;
  outline: 1px solid #000000 !important; /* Adjust the value as needed */
  box-shadow: none !important;
}

:where(.css-dev-only-do-not-override-1a27wig).ant-drawer .ant-drawer-header {
  border-bottom: none !important;
}

.get-started {
  width: 250px !important;
  background: #19235b !important;
  padding: 10px !important;
  height: 60px !important;
  border-radius: 30px !important;
  color: #ffffff !important;
  font-size: 18px !important;
  font-weight: bold !important;
  text-transform: capitalize !important;
  font-family: BricolageGrotesqueMedium !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.coming-soon {
  background-image: url("/comingsoon.svg");
  background-repeat: no-repeat;
  height: 600px;
  width: 1090px !important;
  background-size: initial;
  background-position: center center;
}

.footer-bottom {
  border-top: 1px solid
    linear-gradient(
      90deg,
      rgba(22, 22, 22, 0) 0%,
      #696969 51.56%,
      rgba(22, 22, 22, 0) 100%
    );
  border-image-source: linear-gradient(
    90deg,
    rgba(22, 22, 22, 0) 0%,
    #696969 51.56%,
    rgba(22, 22, 22, 0) 100%
  );
}

.hor-rule::before {
  content: "";
  background: linear-gradient(
    90deg,
    rgba(22, 22, 22, 0) 0%,
    #696969 51.56%,
    rgba(22, 22, 22, 0) 100%
  );
  border: 1px solid transparent;
}

.news-letter {
  box-shadow: -13.011109352111816px 13.011109352111816px 104.08887481689453px
    0px #a1a1a11a !important;
  font-family: BricolageGrotesqueMedium !important;
}

.news-letter-input {
  font-family: BricolageGrotesqueMedium !important;
}

.card-div {
  position: absolute;
  top: -1%;
  left: 45%;
}

.ant-drawer-content-wrapper {
  width: 100% !important;
}
